.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 7px;
    right: 1px;
    /* width: 100% !important; */
}

.select2 {
    width: 100% !important;
    display: block;
    /* height: 38px !important; */
}

.select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
}
.taka{
    font-size: 22px;
    font-weight: bold;
}
